In [24]:
# Import dependencies
import pandas as pd
from splinter import Browser
from bs4 import BeautifulSoup as bs
from webdriver_manager.chrome import ChromeDriverManager
import requests
import time
import pymongo
from flask import Flask, render_template, redirect
from flask_pymongo import PyMongo
import matplotlib.pyplot as plt
import numpy as np

In [32]:
# Read in cinema locations between 1948 to 1971 - Cinemas1948.csv 
csv_path = "../../Resources/Cinemas1948.csv"
Cinemas1948_df = pd.read_csv(csv_path, engine='python')

# Display Dataframe
Cinemas1948_df.head()

,id,latitude,longitude,australian_states_id,locality_types_id,film_weekly_cinema_types_id,street,suburb,postcode,cinema_name,exhibitor_name,capacity,shortname,description,description.1,helper column
0,1,-43.431721,146.974298,8,3,3,NaN,Southport,7109.0,Cruickshank & Douglas,Cruickshank & Douglas,NaN,TAS,Touring Circuit,Rural,0
1,2,-43.431282,146.974205,8,3,3,NaN,Southport,7109.0,Frank Ward,"Auvergne Ave., New Town, Hobart",NaN,TAS,Touring Circuit,Rural,1
2,3,-43.315922,147.242881,8,3,1,NaN,"Aloonah, South Bruny Island",7150.0,Aloonah,T. V. Murphy,150.0,TAS,Indoor Cinema,Rural,0
3,4,-43.315877,147.242850,8,3,1,NaN,"Alonnah, South Bruny Island",7150.0,Pictures,T. V. Murphy,NaN,TAS,Indoor Cinema,Rural,1
4,5,-43.313472,147.015336,8,3,1,NaN,Dover,7117.0,Hall,Ryan Brothers,320.0,TAS,Indoor Cinema,Rural,0

In [33]:
# Drop australian_states_id, locality_types_id, film_weekly_cinema_types_id, exhibitor_name, capacity, shortname, description.1, id
Cinemas1948_df = Cinemas1948_df[["cinema_name", "street", "suburb", "postcode", "description", "latitude", "longitude", "shortname"]]

# Rename shortname to state, description to cinema_type
Cinemas1948_df = Cinemas1948_df.rename(columns={"shortname":"state", "description":"cinema_type"})

# Dusplay dataframe
Cinemas1948_df.head()

,cinema_name,street,suburb,postcode,cinema_type,latitude,longitude,state
0,Cruickshank & Douglas,NaN,Southport,7109.0,Touring Circuit,-43.431721,146.974298,TAS
1,Frank Ward,NaN,Southport,7109.0,Touring Circuit,-43.431282,146.974205,TAS
2,Aloonah,NaN,"Aloonah, South Bruny Island",7150.0,Indoor Cinema,-43.315922,147.242881,TAS
3,Pictures,NaN,"Alonnah, South Bruny Island",7150.0,Indoor Cinema,-43.315877,147.242850,TAS
4,Hall,NaN,Dover,7117.0,Indoor Cinema,-43.313472,147.015336,TAS

In [ ]:
# Setup splinter
# executable_path = {'executable_path': ChromeDriverManager().install()}
# browser = Browser('chrome', **executable_path, headless=False)

In [ ]:
# Visit Cinema treasures URL
# cinemas_URL = 'http://cinematreasures.org/theaters/australia?status=all'
# browser.visit(cinemas_URL)

# for x in range(1, 3):

    # html = browser.html
    # soup = bs(html, 'html.parser')   

    # cinemas = pd.read_html(cinemas_URL)

    # browser.links.find_by_partial_text('Next').click()

# cinemas