In [1]:
# import dependencies
import pandas as pd
import pymongo
import etl_

In [2]:
# The default port used by MongoDB is 27017
# https://docs.mongodb.com/manual/reference/default-mongodb-port/
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

# Declare the database
db = client.Cace_db

In [13]:
#Grab dataframes from our resources
df_boxoffice = scrape_ew.scrape_boxoffice()
df_cinemadata = scrape_ew.df_Cinemadata()
df_nextflixsubs = scrape_ew.df_Nextlixsubs()
df_streamingfee = scrape_ew.df_Streamingfee()
df_cinema1948 = scrape_ew.df_Cinema1948()
df_cinema2022 = scrape_ew.df_Cinema2022()

In [14]:
# Clearn up netflixsubs dataframe 
df_boxoffice = pd.merge(df_boxoffice,df_nextflixsubs, on="Year")

,Year,Total_gross,LY,Releases,Average,No1_release,Total_Subscriber,AsiaPacific_Percentages,AsiaPacific_Subscribers,Cinema_attendance_perc,cinema_freq
0,2022,"$4,465,013,387",-,271,"$16,476,064",Top Gun: Maverick,221744000,0.150,33261600,0.45,3.0
1,2021,"$4,488,914,150",+113.4%,438,"$10,248,662",Spider-Man: No Way Home,207630000,0.130,26991900,0.35,4.1
2,2020,"$2,103,088,090",-81.4%,456,"$4,612,035",Bad Boys for Life,182856000,0.110,20114160,0.53,4.8
3,2019,"$11,320,802,314",-4.8%,910,"$12,440,442",Avengers: Endgame,148863000,0.080,11909040,0.68,6.3
4,2018,"$11,888,639,106",+7.4%,993,"$11,972,446",Black Panther,118902000,0.060,7134120,0.70,6.7
5,2017,"$11,073,883,499",-2.7%,854,"$12,967,076",Star Wars: Episode VIII - The Last Jedi,94363000,0.050,47182,0.72,6.5
6,2016,"$11,377,012,354",+2.3%,855,"$13,306,447",Finding Dory,77707000,0.045,42739,0.71,6.6
7,2015,"$11,125,825,192",+7.4%,845,"$13,166,657",Jurassic World,59619000,0.040,23848,0.69,6.5
8,2014,"$10,359,575,749",-5.2%,849,"$12,202,091",Guardians of the Galaxy,46132000,0.020,9226,0.68,6.9
9,2013,"$10,922,051,943",+0.9%,826,"$13,222,823",Iron Man 3,34244000,0.020,5137,0.70,6.9

In [4]:
# Declare the collection & Insert
db.boxoffice.insert_many(df_boxoffice.to_dict('records'))
db.cinemadata.insert_many(df_cinemadata.to_dict('records'))
db.nextflixsubs.insert_many(df_nextflixsubs.to_dict('records'))
db.streamingfee.insert_many(df_streamingfee.to_dict('records'))
db.cinema1948.insert_many(df_cinema1948.to_dict('records'))
db.cinema2022.insert_many(df_cinema2022.to_dict('records'))